.information-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.information-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    min-width: 1fr;
}

.information-container > div:nth-child(even) {
    background-color: #efefef;
}

.information-container div p {
    max-width: 15em;
    font-size: 1.4rem;
    font-family: "Crimson Pro", serif;
}

.information-container div img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

.tank-round-image {
    object-position: center 40%;
}

.contact-me-div {
    flex-direction: column;
}

.contact-me-text {
    position: relative;
    top: 1.8rem;
}

.contact-me-button {
    position: relative;
    top: 3em;
    color: #efefef;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.5s;
}

.contact-me-button:hover {
    opacity: 0.5;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 15rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s;
}

.remove-contact-me-text {
    display: none;
}

.remove-contact-me-button {
    display: none;
}

.display-contact-icons {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 700px) {
    .information-container {
        grid-template-columns: 1fr;
    }
}