
.personal-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

.personal-information p {
    font-size: 1.5rem;
    text-align: left;
    font-family: "Crimson Pro", serif;
}

.cv-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    height: 30rem;
    width: 30rem;
}

.cv-picture {
    height: 25rem;
    width: 25rem;
    object-fit: cover;
}

.employment-and-assignments-and-references-container {
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: start;
    gap: 17rem;
}

.education-and-languages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17rem;
}

.employment-and-assignments-and-references-container h2, .education-and-languages-container h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-information-container {
    display: flex;
    flex-direction: column;
}

.about-information-container > article {
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-information-container p  {
    font-size: 1.5rem;
    font-family: "Crimson Pro", serif;
    width: 20rem;
}

