* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #1b191a;
    text-align: center;
    line-height: 1.5;
    font-family: "MedievalSharp", serif;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding-right: 1.5rem;
    transition:
    box-shadow 1s,
    background-color 1s,
    opacity 0.15s;

}

main {
    /*background-color: beige;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: #efefef;
}

footer {
    /*background-color: skyblue;*/
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 10vh;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #efefef;
}

.title-container {
    display: flex;
    min-height: 20vh;
    font-size: 2em;
    justify-content: center;
    text-align: center;
    margin-bottom: min(5vh);
}

.title-text {
    width: 1000px;
    color: #efefef;
}

.copy-right-symbol {
    border: 1px solid #efefef;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons i {
    font-size: 3rem;
    transition: opacity 0.3s;
}

.contact-icons i:hover {
    opacity: 0.3;
}

.linkedin-icon {
    color: #267099;
}

.github-icon {
    color: #b0afaf;
}

.mail-icon {
    color: #a83d22;
}

.copy-right-symbol p {
    margin-top: 0.15625rem;
}

.down-arrow {
    height: 50px;
    margin-bottom: 30vh;
}

.down-arrow p {
    font-size: 5rem;
}




