* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #1b191a;
    text-align: center;
    line-height: 1.5;
    font-family: "MedievalSharp", serif;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding-right: 1.5rem;
    transition:
    box-shadow 1s,
    background-color 1s,
    opacity 0.15s;

}

/*header:hover {*/
/*    background-color: #1b191a;*/
/*    opacity: 1;*/
/*    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);*/
/*}*/

main {
    /*background-color: beige;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    min-height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /*color: #efefef;*/
}

footer {
    /*background-color: skyblue;*/
    color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 10vh;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #efefef;
}



