.sidebar {
    display: flex;
    justify-content: center;
    background-color: #1b191a;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.5s, visibility 0.5s;
}

.sidebar:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.close-sidebar {
    background-color: rgba(0, 0, 0, 0.7);
    cursor: default;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.sidebar:target + .close-sidebar {
    opacity: 1;
    visibility: visible;
}

.close-sidebar-internal {
    position: absolute;
    left: 15px;
    font-size: 2em;
    transition: color 0.5s;
}

.close-sidebar-internal:hover {
    color: #a62b2b;
}

.sidebar ul {
    color: #efefef;
    list-style: none;
    font-size: 1.5rem;
}

.sidebar li {
    margin-top: 50px;
    transition: opacity 0.3s;
}

.sidebar li:hover {
    opacity: 0.3;
}

.sidebar a:target {
    color: green;
}

.active {
    /*color: #a62b2b;*/
    border: 1px solid #efefef;
    border-radius: 2px;
    padding: 0 0.3125rem;
}